.userList {
  flex-grow: 1;
  padding: 19px 59px 25px 34px;
  overflow: auto;
  h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 17px;
  }
  &__count {
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    text-align: end;
  }
}
